.Main-Project_three {
    flex : 1;
    /* background-color: aqua; */
    
}

.Main-Project_three > img {
    box-shadow: 0px 0px 15px 5px grey;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.603);
    cursor: pointer;
}

.Main-Project_three > img:hover {
     animation-name: anim; 
     animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes anim {
    from {} 
     to{transform: scale(1.2, 1.2);
    } 
}

.Project_three_text > h1 {
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Proza Libre', sans-serif;
    font-size : 170%;
    cursor: pointer;
    transition: 1s;
}
.Project_three_text > h1:hover {
    text-shadow: 0px 0px 15px black;
}

.Project_three_text > p {
    font-family: 'Gentium Basic', serif;
    font-weight: bold;
    font-style: italic;
}


.Project_three_text{
    padding: 0 4%;
}