.Main-Skillset_and_projects {
    /* background: url(./my_skillset_bg3.png) no-repeat; */
    /* background: linear-gradient(45deg, #feffff, #185de7); */
    background: linear-gradient(#152238, #c8e8f3b9);
    width: 100%;
    height: 850px;
    /* background-color: rgba(0, 0, 0, 0); */
    
}
