.Years-Main {
    flex: 1.25;
}

.text-container {
    margin-left: 45%;
    margin-top: 4%;

}

.text-container > h1 {
    font-size: 550%;
    color: #855085;
}
.text-container > h4 {
    font-size: 200%;
    font-family: 'Nunito', sans-serif;
    margin-left: 5%;
}